// Header.less
// -----------------------------------------------------------------

header[role="banner"] {
    background: @blueDarker;
}

.l-header {
    .centered();
    position: relative;
    height: 90px;
    @media screen and (max-width: 600px) {
        height: 55px;
    }
    > h1 {
        @media screen and (max-width: 480px) {
            margin-left: 8px;
        }
    }
}