// Header.less
// -----------------------------------------------------------------

header[role="banner"] {
    background: @blueDarker;
}

.l-header {
    .centered();
    position: relative;
    height: 90px;
    > h1 {
        font-size: 3em;
        line-height: 1.2em;
        color: #fff;
        text-transform: uppercase;
    }
    @media screen and (max-width: 600px) {
        height: 55px;
    }
}